button {
    position: relative;

    border: none;
    border-bottom: 1px solid gray;

    color: #313131;

    background-color: transparent;

    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;

    font-size: 25px;
    font-weight: 500;
    font-family: inherit;

    cursor: pointer;

    transition-duration: 300ms;
    transform: translate(20px);
}

button:hover {
    transform: translate(0px); scale(1.05);
    font-size: 2.5em;
    font-weight: 700;

    background-color: rgb(247, 255, 205);
    color: #000000;
}
